<section>
    <div class="container flex-col content-center justify-center md:flex md:flex-row gap-3 mx-auto px-8">
            <div class="px-7 gap-3 flex flex-col justify-center basis-1/2">
                <div class="">
                    <h2 class="hero-text pl-5">The nails you want, without the salon.</h2>
                    <p>Handmade, luxury press-on nails you can be proud of.</p>
                </div>
                
                <button class="w-fit py-3 mt-3 px-7 rounded-full text-body-sm font-sans-md tracking-wider leading-none uppercase whitespace-nowrap transition-colors duration-200 bg-red-500 text-white hover:bg-red-700 false false ">
                    What's hot
                </button>
            </div>
            <div class="flex justify-center basis-1/2">
                <%= image_tag "nails", class: "hero-img" %>
            </div>

    </div>
</section>